
<div class = "index_container">
<h1> Welcome to awesome answers</h1>

<%# add inline styles using a hash with a :Style key or class %>

<%= image_tag 'halil-ibrahim-cetinkaya-a93v3R8nu-c-unsplash.jpg', class: "home_image" %>

</div>